@fontSize: 12px;

body {
  font-family: Verdana, sans-serif;
  font-size: @fontSize;
  ul {
    -webkit-padding-start: 0;
    padding: 0 10px;
    font-size: 0;
    li {
      font-size: @fontSize;
      list-style-type: none;
    }
  }
}

.clearfix {
  display: block;
  clear: both;
}

.section {
  margin-bottom: 30px;
}

.bg-gray {
  background-color: lightgray;
  display: inline-block;
  padding: 0 10px;
}
