body {
  font-family: Verdana, sans-serif;
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
  font-family: "Courier New", monospace;
  font-size: 14px;
  padding: 1px 4px;
  color: #222;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.stars {
  @starSize: 16px;

  .rating {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    width: @starSize * 6;
    height: @starSize;
    li {
      display: block;
      width: @starSize;
      height: @starSize;
      float: right;
      text-indent: -96px;
      cursor: pointer;
      background: url("../img/stars.png") -18px 0 no-repeat;
      &.active,
      &.active ~ li {
        background-position: 0;
      }
      &:hover,
      &:hover ~ li {
        background-position: 0;
      }
      &.current {
        background: none;
        text-indent: 0;
        text-align: center;
        line-height: 20px;
        span {
          padding: 0 10px;
        }
      }
    }
  }
}