@fontSize: 12px;

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  font-size: @fontSize;
  ul {
    -webkit-padding-start: 0;
    padding: 0 10px;
    font-size: 0;
    li {
      font-size: @fontSize;
      padding: 0 0 5px;
      list-style-type: none;
    }
  }
}

.wrapper {
  padding: 5px 5px 202px;
}

.clearfix {
  display: block;
  clear: both;
}

.section {
  margin-bottom: 30px;
}

.bg-gray {
  background-color: lightgray;
  display: inline-block;
  padding: 0 10px;
}

.tabs {
  width: 100%;
  margin: 0;
  padding: 0;

  &_titles {
    list-style-type: none;
    height: 25px;
    padding: 0;
    &_single {
      float: left;
      margin: 0 1px 0 0;
      padding: 0;
      &_link {
        background: #e2e2e2;
        line-height: 25px;
        padding: 5px 10px;
        text-decoration: none;
        color: #000;
        transition: background-color 0.5s ease;
        &:hover {
          background: #A3A3A3;
        }
      }
      &_active {
        .tabs_titles_single_link {
          background: #A3A3A3;
        }
      }
    }
  }

  &_contents {
    &_single {
      transition: background-color 0.5s ease;
      background: #F5F5F5;
      padding: 30px;
      display: none;
    }
  }
}

.console {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 202px;
  background-color: #ffffff;
  &_history {
    border-top: solid 1px #CFCFCF;
    padding: 20px 10px;
    height: 130px;
    > ul {
      max-height: 130px;
      overflow-y: auto;
      > li {
        position: relative;
        padding-left: 15px;
        padding-bottom: 15px;
        &:before {
          content: ">";
          color: #000000;
          position: absolute;
          left: 0;
          top: 0;
        }
        &.error {
          color: red;
        }

        &.success {
          color: green;
        }

        span {
          color: #000000;
          display: block;
          padding-bottom: 5px;
        }

        ul {
          display: block;
          padding: 5px 25px;
          li {
            padding: 0;
          }
        }
      }
    }
  }
  &_input {
    border-top: solid 1px #CFCFCF;
    position: relative;
    line-height: 30px;
    padding: 0 10px 0 25px;
    height: 30px;
    &:before {
      content: ">";
      height: 30px;
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
    }
    input {
      border: none;
      width: 100%;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}