.text {
  font-family: 'PT Sans', sans-serif;
  display: block;
  clear: both;
  padding: 0 20px 20px;

  h2 {
    padding: 0 50% 0 16px;
    color: #333333;
    font-size: 24px;

    @media only screen and (max-width: 699px) {
      padding-right: 16px;
    }
  }

  &-content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;

    color: #000000;
    text-indent: 20px;
    font-size: 16px;
    p {
      padding: 0 16px;
      margin-top: 0;
    }

    @media only screen and (max-width: 699px) {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  ul {
    padding: 0;
    li {
      font-size: 16px;
      text-indent: 0;
      &:before {
        content: "— ";
      }

      &.dotted {
        span {
          border-bottom: dashed 1px black;
        }
      }

      a {
        color: #0070ed;
      }
    }
  }
}
